@font-face {
  font-family: "PTSans";
  src: url("../fonts/ptsans.woff");
}

@font-face {
  font-family: "PTSans Bold";
  src: url("../fonts/ptsansbold.woff");
}

$bold-font: "PTSans Bold", "Arial", sans-serif;
$regular-font: "PTSans", "Arial", sans-serif;

$main-background: #81b3d2;
$main-background-hover: #669ec0;
$main-background-down: #5496bd;

// $main-color: #ffffff;
// $main-color-down: #88b6d1;
