.button {
  display: inline-block;
  width: calc(100% - 40px);
  padding: 20px;

  font-family: $bold-font;
  font-size: 21px;
  line-height: 26px;

  background-color: $main-background;
  color: #fff;

  &:hover {
    background-color: $main-background-hover;
  }
  &:active {
    background-color: $main-background-down;
    color: #88b6d1;
  }
}
