.container{
  width: 320px;
  margin: 0 auto;
}

@media (min-width: $tablet-width) {
  .container {
    width: $tablet-width;
    padding: 0 60px;
  }

  .container__row {
    margin: 0 -60px;
  }
}


@media (min-width: $desktop-width) {
  .container {
    width: $desktop-width;
    padding: 0;

    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
  }

  .container__row {
    margin: 0;
  }
}
