.logo {
  display: flex;
  justify-content: space-around;
}

.logo__filler {
  width: 24px;
}

@media (min-width: $tablet-width) {
  .logo__filler {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .logo__image {
    height: 95px;
    width: 185px;
  }
}
