.logo {
  display: flex;
  justify-content: space-around;
}

.logo__filler {
  width: 24px;
}

.logo__svg {
  &--tablet {
    visibility: hidden;
  }

  &--desktop {
    visibility: hidden;
  }
}

.logo__image {
  height: 85px;
}

@media (min-width: $tablet-width) {
  .logo__filler {
    display: none;
  }

  .logo__svg {
    &--mobile {
      visibility: hidden;
    }

    &--tablet {
      visibility: visible;
    }

    &--desktop {
      visibility: hidden;
    }
  }
}

@media (min-width: $desktop-width) {
  .logo__image {
    height: 95px;
    width: 185px;
  }

  .logo__svg {
    &--tablet {
      visibility: hidden;
    }

    &--desktop {
      visibility: visible;
    }
  }
}
