.menu {
  position: relative;
  z-index: 1;

  margin-top: 0;

  transition: all 0.3s linear;

  &--closed {
    margin-top: -70%;
  }
}

.menu__close {
  position: absolute;
  top: 0;
  right: 0;

  padding: 20px;

  font-size: 0;

  &::after {
    content: "";

    display: block;
    width: 24px;
    height: 24px;

    background-image: url("../img/icon-cross.svg");
    background-repeat: no-repeat;
    background-size: contain;
  }
}

.menu__item--logo {
  display: none;
}

.menu__link {
  width: 100%;
  padding: 15px;

  font-size: 18px;

  &:not(.menu__link--first) {
    border-top: 1px solid #9ac2db;
  }

  &:not(.menu__link--last) {
    border-bottom: 1px solid #678fa8;
  }
}

@media (min-width: $tablet-width) {
  .menu--closed {
    margin-top: 0;
  }

  .menu__close {
    display: none;
  }

  .menu__list {
    display: flex;
    justify-content: space-around;
  }

  .menu__item {
    flex-basis: 25%;

    &:nth-child(2) {
      margin-right: 75px;
    }

    &:nth-child(3) {
      margin-left: 75px;
    }
  }

  .menu__link {
    font-size: 14px;

    background-color: transparent;
    color: #000000;

    &:not(.menu__link--first) {
      border-top: 0;
    }

    &:not(.menu__link--last) {
      border-bottom: 0;
    }

    &:hover {
      color: #81b3d2;
      background-color: transparent;
    }

    &:active {
      color: #dadada;
    }
  }
}

@media (min-width: $desktop-width) {
  .menu__item {
    &:nth-child(2) {
      margin-right: 120px;
    }

    &:nth-child(3) {
      margin-left: 120px;
    }
  }
}
