.page-header__logo {
  position: relative;
  z-index: 2;

  height: 56px; //пофиксить

  box-shadow: 0 -2px 1px -1px rgba(0, 0, 0, 0.6);
}

.page-header__menu-toggle {
  font-size: 0;

  &::after {
    content: "";

    display: block;
    width: 24px;
    height: 24px;

    background-color: $main-background;
    mask-image: url("../img/icon-menu.svg");
    mask-repeat: no-repeat;
    mask-size: contain;
  }
}

.page-header__introduction {
  position: relative;

  padding: 52px 20px 58px;
  margin-bottom: 40px;

  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-position: bottom;
  background-repeat: no-repeat;

  &--main {
    padding: 90px 20px 65px;
  }

  &::after {
    content: "";

    position: absolute;
    bottom: 0;
    left: 0;

    display: block;
    width: 100%;
    height: 26px;

    background-image: url("../img/bg-intro-triangle-mobile.svg");
    background-repeat: no-repeat;
  }
}

@media (min-width: $tablet-width) {
  .page-header__menu-toggle {
    display: none;
  }

  .page-header__logo {
    position: absolute;
    top: 0;
    left: 50%;
    z-index: 3;

    box-shadow: none;

    transform: translateX(-50%);
  }

  .page-header__image {
    width: 460px;
    height: 80px;
  }

  .page-header__introduction {
    padding: 95px 0 110px;
    margin-bottom: 70px;
  }
}

@media (min-width: $desktop-width) {
  .page-header__introduction {
    padding: 103px 0 114px;
    margin-bottom: 107px;

    background-size: cover;
  }

  .page-header__logo {

    &::after {
      content: "";

      position: absolute;
      top: -70px;
      left: -20px;
      z-index: -1;

      display: block;
      width: 140px;
      height: 140px;

      background-color: #81b3d2;
      border-radius: 10px 0;

      transform: rotate(45deg) skew(0deg);
    }
  }
}
