.page{
  font-family: $regular-font;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
}
.page__wrapper {
  margin: auto 22px;
}
.page__title {
  margin-bottom: 40px;

  font-family: $bold-font;
  font-size: 18px;
  line-height: inherit;

  &--small {
    margin-bottom: 30px;
  }
  &--extra-small {
    margin-bottom: 20px;
  }
}
.page__subtitle {
  margin-bottom: 30px;

  font-size: 14px;
  line-height: inherit;

  &--small {
    margin-bottom: 0px;
  }
}
