.page-footer {
  padding-bottom: 23px;
}

.page-footer__title {
  margin-bottom: 36px;

  font-size: 21px;
}

@media (min-width: $tablet-width) {
  .page-footer__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .page-footer__title {
    margin-bottom: 0;
    flex-basis: 196px;

    text-align: left;
  }

  .page-footer__socials {
    flex-basis: 256px;
  }

  .page-footer__copyright {
    flex-basis: 196px;

    text-align: right;
  }
}

@media (min-width: $desktop-width) {
  .page-footer__title {
    flex-basis: 280px;
    flex-shrink: 0;
  }

  .page-footer__socials {
    flex-basis: 400px;
    flex-shrink: 0;
  }

  .page-footer__copyright {
    flex-basis: 355px;
    flex-shrink: 0;

    text-align: right;
  }
}
