.page {
  font-family: $regular-font;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
}

.page__container {
  width: 275px;
  margin: 0 auto;
}

.page__title {
  margin-bottom: 28px;

  font-family: $bold-font;
  font-size: 18px;
  line-height: inherit;

  &--small {
    margin-bottom: 21px;
  }

  &--extra-small {
    margin-bottom: 20px;
  }
}

.page__subtitle {
  margin-bottom: 27px;

  font-size: 14px;
  line-height: inherit;

  &--small {
    margin-bottom: 0;
  }

  &--presentation {
    margin-bottom: 34px;
  }

  &--review {
    margin-bottom: 17px;
  }
}

@media (min-width: $tablet-width) {
  .page__container {
    width: 100%;
  }

  .page__title {
    font-size: 30px;
    line-height: 35px;

    &--impression {
      margin-bottom: 55px;

      font-size: 21px;
    }

    &--intro {
      margin-bottom: 55px;

      font-size: 21px;
    }

    &--emotions {
      margin-bottom: 55px;
    }
  }

  .page__subtitle {
    &--photo {
      margin-bottom: 67px;
    }

    &--presentation {
      margin-bottom: 72px;
    }
  }
}

@media (min-width: $desktop-width) {
  .page__title {
    &--impression {
      text-align: center;
    }

    &--contacts {
      margin-bottom: 68px;
    }
  }
}
