.page-footer {
  padding-bottom: 23px;
}

.page-footer__title {
  margin-bottom: 38px;

  font-size: 21px;
}

@media (min-width: $tablet-width) {
  .page-footer__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .page-footer__title {
    margin-bottom: 11px;
    flex-basis: 196px;
    max-width: 196px;
    overflow: hidden;

    text-align: left;
  }

  .page-footer__socials {
    flex-basis: 256px;
    max-width: 256px;
    overflow: hidden;
  }

  .page-footer__copyright {
    flex-basis: 196px;
    margin-bottom: 8px;
    max-width: 196px;
    overflow: hidden;

    text-align: right;
  }
}

@media (min-width: $desktop-width) {
  .page-footer {
    margin-right: -75px;
  }

  .page-footer__title {
    flex-basis: 140px;
    flex-shrink: 0;
    margin-left: 12px;
    max-width: 140px;
  }

  .page-footer__socials {
    flex-basis: 400px;
    flex-shrink: 0;
    max-width: 400px;
    margin-left: -32px;
  }

  .page-footer__copyright {
    flex-basis: 355px;
    flex-shrink: 0;
    max-height: 355px;

    text-align: right;
  }
}
