.photos__list {
  border-bottom: 1px solid #e5e5e5;
}

.photos__item {
  padding: 0 20px;

  border-top: 1px solid #e5e5e5;
}

.photos__card {
  padding: 22px 0;

  font-family: $bold-font;
  font-size: 14px;
  line-height: 24px;
  text-align: left;
}

.photos__image {
  display: block;
  max-width: 100%;
  height: auto;
  margin-bottom: 22px;
}

.photos__subtitle {
  margin-bottom: 5px;

  font-family: $regular-font;
  text-transform: none;
}

.photos__like-button {
  position: relative;

  width: 22px;
  height: 22px;
  margin-right: 10px;

  font-size: 0;
  vertical-align: top;
}

.photos__like-icon {
  position: absolute;
  top: 0;
  left: 0;

  display: block;
  width: 100%;
  height: 100%;

  fill: #b2b2b2;
}

@media (min-width: $tablet-width) {
  .photos__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    border-bottom: 0;
  }

  .photos__item {
    flex-basis: 50%;
    padding: 0;

    border-top: 0;

    &:first-child {
      flex-basis: 100%;
    }
  }

  .photos__card {
    padding: 0;
  }

  .photos__image {
    width: 100%;

    margin-bottom: 0;
  }

  .photos__info {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-height: 115px;
    align-content: space-between;
    justify-content: center;
    padding: 20px;

    background-color: #f2f2f2;
  }
}

@media (min-width: $desktop-width) {
  .photos__item {
    position: relative;

    flex-basis: 400px;
  }

  .photos__info {
    position: absolute;
    z-index: 2;
    bottom: 0;

    width: 100%;

    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.6);
  }
}
