.presentation__video {
  display: block;
}

.presentation__video-wrapper {
  position: relative;

  &::after {
    content: "";

    position: absolute;
    top: 0;
    left: 0;

    display: block;
    width: 100%;
    height: 100%;

    background-image: url("../img/video-mobile@1x.jpg");
    background-size: cover;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/video-mobile@2x.jpg");
    }
  }
}

.presentation__controls {
  position: relative;

  display: flex;
  justify-content: space-between;

  background-color: #f2f2f2;
}

.presentation__control {
  width: 70px;
  height: 65px;

  font-size: 0;

  cursor: pointer;

  &--subtitles {
    margin-left: 100px;
  }

  &--timeline {
    position: absolute;
    bottom: 100%;
    left: 0;

    width: 100%;
    padding: 0 20px;
    height: 45px;

    background-color: rgba(0, 0, 0, 0.6);
  }

  &--timeline::before {
    content: "";

    display: block;
    width: 100%;
    height: 3px;

    background-color: rgba(255, 255, 255, 0.2);
  }

  &--timeline::after {
    content: "";

    position: absolute;
    top: 45%;
    left: 20%;

    display: block;
    width: 8px;
    height: 8px;

    background-color: #ffffff;
    border-radius: 50%;
  }
}

.presentation__control:hover .presentation__icon {
  fill: #333333;
}

.presentation__control:active .presentation__icon {
  fill: #c1c1c1;
}

.presentation__icon {
  fill: #5c6870;
}

@media (min-width: $tablet-width) {
  .presentation__controls {
    position: relative;
    z-index: 2;

    margin-top: -92px;

    background-color: rgba(0, 0, 0, 0.6);
  }

  .presentation__control {
    height: 92px;

    &--replay {
      width: 85px;
    }

    &--subtitles {
      margin-left: 0;
    }

    &--fullscreen {
      padding-left: 8px;
      text-align: left;
    }
  }

  .presentation__icon {
    fill: #ffffff;
  }

  .presentation__control--timeline {
    position: relative;

    flex-basis: 390px;
    flex-grow: 1;
    padding: 0 25px;

    pointer-events: auto;
    background-color: transparent;

    &::after {
      left: 29%;
    }
  }

  .presentation__video {
    width: 100%;
    height: 500px;
  }

  .presentation__video-wrapper::after {
    background-image: url("../img/video-tablet@1x.jpg");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/video-tablet@2x.jpg");
    }
  }
}

@media (min-width: $desktop-width) {
  .presentation {
    padding: 0 80px;
  }

  .presentation__controls {
    height: 92px;
    align-items: center;
  }

  .presentation__control {
    height: auto;
  }

  .presentation__video-wrapper::after {
    background-image: url("../img/video-desktop@1x.jpg");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/video-desktop@2x.jpg");
    }
  }

  .presentation__control--timeline {
    bottom: 0;

    &::after {
      left: 21%;
    }
  }
}
