.presentation {
  padding-top: 40px;
}

.presentation__video {
  display: block;
}

.presentation__controls {
  background-color: #f2f2f2;
  display: flex;
  justify-content: space-between;
}

.presentation__control {
  width: 70px;
  height: 65px;

  font-size: 0;
}

.presentation__control:hover .presentation__icon {
  fill: #333333;
}

.presentation__control:active .presentation__icon {
  fill: #c1c1c1;
}

.presentation__icon {
  fill: #5c6870;
}

.presentation__filler {
  width: 70px;
  height: 65px;
}
