.reasons {
  position: relative;

  padding-top: 37px;
  margin-bottom: 30px;

  background-color: $main-background;

  &::before {
    content: "";

    position: absolute;
    top: 0;
    left: 0;

    display: block;
    width: 100%;
    height: 37px;

    background-image: url("../img/bg-triangle.svg");
    background-repeat: no-repeat;
  }
}

.reasons__list {
  background-color: #eeeeee;
}

.reasons__item {
  padding-top: 42px;

  background-color: $main-background;
  color: #ffffff;

  &--small {
    padding: 24px 0;
    margin: 0 15px;

    background-color: #eeeeee;
    color: #000000;
    border-bottom: 1px solid #d6d6d6;

    @include clearfix;
  }

  &--small:last-child {
    border-bottom: 0;
  }
}

.reasons__title {
  margin: 0 0 15px;

  font-family: $bold-font;
  font-size: 18px;
  line-height: 26px;
}

.reasons__number {
  margin: auto 0 15px;

  font-family: $regular-font;
  font-size: 14px;
  line-height: 21px;
}

.reasons__subtitle {
  font-family: $regular-font;
  font-size: 14px;
  line-height: 21px;
}

.reasons__image {
  display: block;
  margin-top: 40px;
}

.reasons__description-list {
  padding: 30px 20px 0;

  text-align: left;

  background-color: #ffffff;
  color: #000000;

  @include clearfix;
}

.reasons__description-item {
  position: relative;

  padding-left: 50px;
  margin-bottom: 28px;

  &::before {
    content: "";

    position: absolute;
    left: 0;
    top: -10px;

    display: block;
    width: 40px;
    height: 45px;

    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }
}

.reasons__description-item--house {
  &::before {
    background-image: url("../img/icon-house.svg");
  }
}

.reasons__description-item--gift {
  &::before {
    top: -15px;

    background-image: url("../img/icon-gift.svg");
  }
}

.reasons__description-item--food {
  &::before {
    background-image: url("../img/icon-burger.svg");
  }
}

.reasons__description-title {
  margin-bottom: 15px;

  font-family: $bold-font;
  font-size: 18px;
  line-height: 26px;
}

.reasons__description-subtitle {
  font-family: $regular-font;
  font-size: 14px;
  line-height: 21px;
}

@media (min-width: $tablet-width) {
  .reasons {
    padding-top: 0;
    margin-bottom: 50px;
  }

  .reasons::before {
    content: none;
  }

  .reasons__title {
    font-size: 21px;
    margin-bottom: 21px;
  }

  .reasons__description-title {
    font-size: 21px;
    margin-bottom: 21px;
  }

  .reasons__list {
    display: flex;
    flex-wrap: wrap;
  }

  .reasons__subtitle {
    line-height: 17px;
  }

  .reasons__item {
    display: flex;
    flex-basis: 100%;
    flex-wrap: wrap;
    padding-top: 0;

    &--small {
      flex-basis: 256px;
      margin: 0;

      border-bottom: 0;
      padding: 0 14px 50px;
    }
  }

  .reasons__info {
    flex-basis: 256px;
    padding: 45px 35px 0;

    &--end {
      order: 1;
    }
  }

  .reasons__image {
    flex-grow: 1;
    margin-top: 0;
  }

  .reasons__description-list {
    display: flex;
    padding: 0;
    padding-top: 60px;
  }

  .reasons__description-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 35px;
    margin-bottom: 63px;

    text-align: center;

    &::before {
      position: static;

      width: 80px;
      height: 80px;
      margin-bottom: 15px;
    }

    &--gift {
      order: 1;
    }
  }
}

@media (min-width: $desktop-width) {
  .reasons__info {
    flex-basis: 400px;
    padding: 52px 95px 0;
  }

  .reasons__item--small {
    flex-basis: 400px;
    padding-bottom: 70px;

    & .reasons__info {
      padding: 39px 80px 0;
    }
  }

  .reasons__description-item {
    margin-bottom: 85px;
  }
}
