.review-form__group {
  padding: 25px 20px 5px;

  border-top: 1px solid #e5e5e5;
}

.review-form__dynamic-wrapper {
  display: table;
  width: 100%;
}

.review-form__dynamic-row {
  display: table-row;
  width: 100%;
}

.review-form__label {
  display: block;
  margin-bottom: 10px;

  font-family: $regular-font;
  font-size: 14px;
  line-height: 26px;
  text-align: left;

  &--dynamic {
    display: table-cell;
  }
}

.review-form__sup {
  vertical-align: top;
}

.review-form__input {
  height: 58px;
  padding-left: 20px;
  margin-bottom: 20px;
  width: 100%;

  font-family: $bold-font;
  font-size: 18px;
  line-height: 26px;

  border: 0;
  background-color: #f2f2f2;

  &--dynamic {
    display: table-cell;
    width: calc(100% - 10px);
    margin-left: 10px;
  }

  &:hover {
    background-color: #e5e5e5;
  }

  &:active,
  &:focus {
    background-color: #ffffff;
    border: 2px solid #e5e5e5;
  }
}

.review-form__input-addon {
  position: relative;

  &::after {
    content: "";

    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;

    display: block;
    width: 57px;
    height: 57px;

    background-color: #e6e6e6;
  }

  &::before {
    content: "";

    position: absolute;
    top: 0;
    right: 0;
    z-index: 3;

    display: block;
    width: 57px;
    height: 57px;

    background-repeat: no-repeat;
    background-position: center;
  }
}

.review-form__input-addon--phone::before {
  background-image: url("../img/icon-phone.svg");
}

.review-form__input-addon--email::before {
  background-image: url("../img/icon-mail.svg");
}

.review-form__radio-list {
  text-align: left;
}

.review-form__radio {
  display: none;
}

.review-form__radio-control {
  position: relative;

  display: block;
  margin-bottom: 15px;

  font-family: $bold-font;
  font-size: 18px;
  line-height: 26px;
  text-transform: none;

  cursor: pointer;
  user-select: none;

  &::before {
    content: "";

    display: inline-block;
    width: 22px;
    height: 22px;
    margin-right: 20px;

    vertical-align: middle;

    border-radius: 50%;
    background-color: #f2f2f2;
    border: 18px solid #f2f2f2;
  }
}

.review-form__radio-control:hover::before {
  background-color: #e5e5e5;
  border-color: #e5e5e5;
}

.review-form__radio-control:active::before,
.review-form__radio-control:focus::before {
  background-color: #d5d5d5;
  border-color: #d5d5d5;
}

.review-form__radio:checked + .review-form__radio-control::before {
  background-color: #333333;
}

.review-form__radio:checked + .review-form__radio-control:active::before,
.review-form__radio:checked + .review-form__radio-control:focus::before {
  background-color: #a4a4a4;
}

.review-form__checkbox-list {
  text-align: left;
}

.review-form__checkbox {
  display: none;
}

.review-form__checkbox-control {
  position: relative;

  display: block;
  margin-bottom: 20px;

  font-family: $bold-font;
  font-size: 18px;
  line-height: 26px;
  text-transform: none;

  cursor: pointer;
  user-select: none;

  &::before {
    content: "";

    display: inline-block;
    width: 56px;
    height: 56px;
    margin-right: 20px;

    vertical-align: middle;

    border-radius: 5px;
    background-color: #f2f2f2;
  }

  &::after {
    content: "";

    position: absolute;
    left: 0;
    top: 0;

    display: block;
    width: 56px;
    height: 56px;

    background-repeat: no-repeat;
    background-position: center;
  }
}

.review-form__checkbox-control:hover::before {
  background-color: #e5e5e5;
}

.review-form__checkbox-control:active::before,
.review-form__checkbox-control:focus::before {
  background-color: #d5d5d5;
}

.review-form__checkbox:checked + .review-form__checkbox-control::after {
  background-image: url("../img/icon-tick.svg");
}

.review-form__checkbox:checked + .review-form__checkbox-control:active::after,
.review-form__checkbox:checked + .review-form__checkbox-control:focus::after {
  opacity: 0.3;
}

.review-form__textarea {
  width: 100%;
  padding: 20px 25px;
  min-height: 160px;
  margin-bottom: 50px;

  font-family: $bold-font;
  font-size: 18px;
  line-height: 26px;
  text-transform: none;

  background-color: #f2f2f2;
  resize: none;
  border: 2px solid #f2f2f2;

  &:hover {
    background-color: #e5e5e5;
    border-color: #e5e5e5;
  }

  &:active,
  &:focus {
    background-color: #ffffff;
    border: 2px solid #e5e5e5;
  }
}

.review-form__submit {
  width: 100%;
}
