.socials {
    padding-top: 40px;
    margin-bottom: 40px;
}
.socials__title {
  margin-bottom: 0;

  font-size: 21px;
}
.socials__list {
  margin-top: 35px;
}
.socials__item {
  display: inline-block;
  width: 46px;
  height: 48px;

  background-color: $main-background;

  &:hover {
    background-color: $main-background-hover;
  }
  &:active {
    background-color: $main-background-down;
  }
  &:active .socials__link {
    background-color: #88b6d1;
  }
}
.socials__link {
  display: block;
  width: 100%;
  height: 100%;

  font-size: 0;

  background-color: #ffffff;
  mask-repeat: no-repeat;
  mask-position: center;

  &--twitter {
    mask-image: url("../img/icon-twitter.svg");
  }
  &--facebook {
    mask-image: url("../img/icon-facebook.svg");
  }
  &--youtube {
    mask-image: url("../img/icon-youtube.svg");
  }
}
