.socials {
  margin-bottom: 40px;
}

.socials__item {
  display: inline-block;
  width: 46px;
  height: 48px;
}

.socials__link {
  position: relative;

  display: block;
  width: 100%;
  height: 100%;

  font-size: 0;

  background-color: $main-background;

  &:hover {
    background-color: $main-background-hover;
  }

  &:active {
    background-color: $main-background-down;
  }
}

.socials__icon {
  position: absolute;
  left: 50%;
  top: 50%;

  fill: #ffffff;

  transform: translate(-50%, -50%);
}

.socials__link:active .socials__icon {
  fill: #88b6d1;
}

@media (min-width: $tablet-width) {
  .socials {
    margin-bottom: 0;
  }
}
